/* custom text */
* {
    font-family: 'Gilroy-Bold ☞';
    text-decoration: none;
}

/* --- nav --- */
/* custom hamburgher button menu */
.hb {
    width: 45px;
    margin: 0 auto;
    display: block;
}

.navbar-collapse-custom {
    flex-basis: 100%;
    flex-grow: 1;
}